/**** CUSTOM SELECT  ***/
select{border:1px solid #ccc;height: 34px;width: 250px; padding: 6px 12px;line-height: 1.42857143;}


select {
    border: 1px solid #ccc;
    height: 26px;
    line-height: 18px;
    margin: 0;
    padding: 3px;
    background: transparent none no-repeat;
    cursor: pointer;
}

@media screen and (min-width:0) {
    /* for relatively modern browsers including IE 8+ */
    select {
        border-radius: 4px;
        background-image: url("../../images/1470028257_ic_keyboard_arrow_down_48px_edit_small.png");
        background-position: -50px -50px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* for Webkit */
    select {
        -webkit-appearance: none;
        background-position: right center;
        padding: 3px 32px 3px 5px;
    }
}

@-moz-document url-prefix() {
    /* for Firefox */
    select {
        display: flex;
        border: 0;
        box-shadow: inset 0 0 1px #000;
        padding: 0;
        background-position: right center;
        padding-right: 16px;
        color: transparent;
        /* this shifts the text down a few pixels and removes the focus-ring */
        text-shadow: 0 4px 0 #000;
        text-indent: 2px;
    }
    select * {
        color: black;
        text-shadow: none;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* for IE10+ */
    select::-ms-expand {
        display: none;
    }
    select {
        background-position: right center;
        padding-right: 30px;
    }
}


.custom-select {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 2em;
    padding: 0 34px 0 5px;
    position: relative;
    width: 100%;
    z-index: 1;
}


.custom-select:hover {
    border-color: #999;
}

.custom-select:before {
    color: #333;
    display: block;
    font-family: 'FontAwesome';
    font-size: 1em;
    height: 100%;
    line-height: 2.5em;
    padding: 0 0.625em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 1em;
    z-index: -1;
}

.custom-select select {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    color: #333;
    display: block;
    font-size: 100%;
    line-height: normal;
    margin: 0;
    padding: .5em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select select::-ms-expand {
    display: none; /* to ie 10 */
}

.custom-select select:focus {
    outline: none;
}

/* little trick for custom select elements in mozilla firefox  17/06/2014 @rodrigoludgero */

/* pseudo class https://developer.mozilla.org/en-US/docs/Web/CSS/:any */

:-moz-any(.custom-select):before {
    background-color: #fff; /* this is necessary for overcome the caret default browser */
    pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
    z-index: 1; /* this is necessary for overcome the pseudo element */
}
/**** CUSTOM SELECT END ***/