

body{
    background-color: #4b4b4b;

}

/** fix autocomplete map **/
div.pac-container {
    z-index: 1057 !important;
}

div.ui-dialog
{
    z-index: 1057 !important;
}

div.blockUI.blockOverlay
{
    z-index: 1060 !important;
}

div.blockUI.blockMsg
{
    z-index: 1062 !important;
}

#popUpLocation
{
    z-index: 1055;
}

.ui-autocomplete
{
    z-index: 1056;
    font-size: smaller !important;
}

.img-logo-wrapper {
  /*  position:relative;*/
    padding:2% ;
  /*  padding-bottom:5%;
    height:0;
    overflow:hidden;*/
}
.user-login {
    position: relative;
    float: right;
    padding: 1%;
    width: 15%;
}


.border-radios-page{
    -webkit-border-top-right-radius: 32px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 32px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 30px;
    border-color: #0078a3;
}

.div-panel-form{
    max-height: 300px;
    overflow-y: scroll;
    max-width: 500px;
}

th {
    background-color: lightslategray;
    color: #ffffff;
}

.custom-form-group {
    margin: 4px;
}

.custom-form-inline {
    padding: 4px;
}

.custom-panel-primary-body
{
    padding: 0px;
    background-color: #d9edf7;
}

.fullWidth{
    width: 100% !important;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Icon- Excel */
/*
.cus- {
    background-image: url("../images/spritesheetIcons.png");
    background-repeat: no-repeat;
    display: block;
}

.icon-excel {
    background-image: url("../images/Excel-icon.png");
    background-repeat: no-repeat;
    display: block;
    display: inline-block;
    width: 17px;
    height: 16px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-position: 14px 14px;

}

.icon-test {
    background-image: url("../images/Excel-icon.png");
    background-position: center center;
    height: 14px;
    width: 14px;
}

[class^="icon-excel"]:last-child,
[class*=" icon-excel"]:last-child {
    *margin-left: 0;
}

.cus--icon-excel {
    width: 60px;
    height: 56px;
    background-position: -39px -5px;
}

.cus--Excel-icon {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

/* icons *
[class^="cus-"],
[class*=" cus-"] {
    display: inline-block;
    width: 17px;
    height: 16px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/spritesheetIcons.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
    *margin-left: 0;
}
/* icons code below *
.cus-accept{ background-position: 0 0;  }
.cus-add{ background-position: -21px 0;  }
.cus-anchor{ background-position: -42px 0;  }
.cus-application{ background-position: -63px 0;  }
*/
.map-wrapper {
    width: 100%;
    height: 500px;
    border: 2px solid;
    border-color:#3B6999
}

.modal.and.carousel {
    position:absolute; // Needed because the carousel overrides the position property
}

/*
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it
    width:inherit;
    height:inherit;
    /* To center horizontally
    margin: 0 auto;
    pointer-events:all;
}*/

.label-blue {
    width: 20%;
    color: #516B88;
    text-align: right;
}





.label-small
{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.panel-info-obra .col-sm-4 label
{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.panel-info-obra .col-sm-8 label
{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.espacios-verdes .col-sm-4 label
{
    color: #3c763d;
}

.containter-info-obra
{
    padding: 15px;
    border-top: 1px solid transparent;
}

.espacios-verdes .containter-info-obra
{
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-title.user-comment
{
    padding: 5px;
    background-color: black;
}

.panel-title.user-comment label
{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    font-size: small;
    color: rgba(104, 101, 119, 0.91);
}

.panel-title.user-comment.posted
{
    background-color: rgba(192, 192, 192, 0.48);
    border-bottom: 5px solid;
}

.panel-title.user-comment.posted.novedad
{
    border-bottom-color: #F0AD4E;
}

.panel-title.user-comment.posted.positivo
{
    border-bottom-color: #5cb85c;
}

.panel-title.user-comment.posted.reclamo
{
    border-bottom-color: #d9534f;
}

.small-select
{
    height: 23px !important;
    padding: 3px;

}
.status-select
{
    background-color:#F0AD4E ;
    color: #ffffff;
}

.fancy {
    line-height: 0.5;
    text-align: center;
}
.fancy label {
    display: inline-block;
    position: relative;
    color: gray;
}
.fancy label:before,
.fancy label:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 2px solid #adadad;
  /*  border-top: 1px solid white;*/
    top: 0;
    width: 100%;
}
.fancy label:before {
    right: 100%;
    margin-right: 15px;
}
.fancy label:after {
    left: 100%;
    margin-left: 15px;
}

.input-group.autocomplete {
    padding-left: 15px;
    padding-right: 15px;
}

.display-none
{
    display: none;
}

.table.smaller
{
    font-size: smaller;
}

.input-number
{
    text-align: right;
    width: 50% !important;
}

.linkAction {
    cursor: pointer;
}


.dialog-style
{
    font-size: small;
}

.dialog-style .btn
{
    padding: 2px 20px 2px 20px;
}
.no-close .ui-dialog-titlebar-close {display: none;  }



/***********  Modal Imges   ****************/


.custom-modal .modal-header {
    background: #337ab7;
    color: #ffffff;
    padding: 1%;
}

.custom-modal .rightLabel label {
    text-align: right;
    margin-right: 1px;
}

.custom-modal .modal-images img
{
    max-height: 30px;
}

/***********  Modal Imges  END ****************/

/*********** Modal BulkLoad **************/

.custom-modal .grid-bulkLoad
{
    padding: 6px;
}
.custom-modal .grid-bulkLoad .header
{
    background-color: rgb(54, 59, 63);
    padding: 6px 0px 6px 0px;
    font-weight: bold;
    color: antiquewhite;

}


#bulkLoadObras
{
    overflow-y: scroll;

}

.custom-modal .grid-bulkLoad input
{
    padding: 2px;
    font-size: x-small;
    border: none;
}
.custom-modal .grid-bulkLoad select
{
    padding: 0;
    font-size: x-small;
    border: none;

}

.custom-modal .grid-bulkLoad .form-horizontal
{
    padding: 0;
}

.custom-modal .grid-bulkLoad .form-horizontal input
{
    box-shadow: none;
    border: none;
}

.custom-modal .grid-bulkLoad .form-horizontal div
{
    padding: 0;
}

/*.custom-modal .grid-bulkLoad .form-horizontal:nth-child(odd)
{
    background-color: #91ccea;
}*/

.custom-modal .grid-bulkLoad .invalid
{
    background-color: rgba(255, 0, 13, 0.82);
    color: antiquewhite;
}

.custom-modal .grid-bulkLoad .validated
{
    background-color: rgb(0, 128, 37);
}




.custom-modal .grid-bulkLoad .validated input
 {
     background-color: rgb(0, 128, 37);
     color: antiquewhite;

 }

.custom-modal .grid-bulkLoad .validated input:focus
{
    background-color: rgb(0, 155, 46);
    box-shadow: #f5f5f5;
    color: antiquewhite;

}



.custom-modal .grid-bulkLoad .validated select
{
    background-color: rgb(0, 128, 37);
    border: none;
    box-shadow: none;
    color: antiquewhite;

}

.custom-modal .grid-bulkLoad .btn
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #222222;
}

.custom-modal .grid-bulkLoad .btn:hover
{
    background-color: transparent;
    box-shadow: #f5f5f5;
    color: #0070a3;
}


.custom-modal .grid-bulkLoad .validated .btn
{
    color: #f5f5f5;
}

.custom-modal .grid-bulkLoad .validated .btn:hover
{
    background-color: rgb(0, 155, 46);
    box-shadow: #f5f5f5;
    color: antiquewhite;
}


/*********** Modal BulkLoad END **************/

/** shared layout ***************/
.main-container
{
    padding: 0;
}

.navbar-layout
{
    background-color: #ffffff;
    color: #000000;
    border: none;
    margin: 0;
}

.navbar-layout a
{
    color: #000000;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}

.navbar-layout a:hover ,.navbar-layout a:active
{
    background-color: #00aeef !important;
    color: #ffffff !important;
    text-decoration: none;
    font-size: small !important;
    font-weight: normal !important;

}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav>li {
    display: inline-block;
    float:none;
}

.user-loggued
{
    padding:0.5%;
    float: right !important;
    text-align: right;
}

.avatar-wrapper {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    overflow-y: hidden;
    position:relative;
}

.avatar-width
{
    width: 30px;
}

.navbar-brand {
    padding: 10px;
}
.icon-bar{
    background-color: #ffffff;
}
.navbar-toggle.collapsed
{
    background-color: #000000;
}

/***  background-color: #4b4b4b; color para el filtro ***/

/*** Home Social Obras***/
.filter-seccion {
    background-color: #4b4b4b;
}

.filter-seccion .row
{
    text-align: center;
    padding-top: 1%;

}

.filter-seccion .row .label
{
    font-size: large;
}

.filter-seccion .BuscadorSec
{
    padding-top: 0px;
    font-weight: normal;
}

/*
.custom-select  {

    border: 1px solid #111;
    background: transparent;
    min-width: 150px;
    padding: 0 15% 0 0;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/select_custom.png) 100% / 100% no-repeat #ffffff;
    width: 100%;
}

*/

.filter-seccion .row .row-filter-label
{
    text-align: left !important;

}

.filter-seccion .row .row-filter-label .label
{
    font-weight: bold !important;
    font-size: medium !important;
}

.btn.custom-bottom
{
    color: #ffffff;
    padding: 3px 10px;
    font-weight: bold;
    background-color: #00aeef;
    border-color: #00aeef;
}

.btn.custom-bottom:hover
{
    background-color: #ffffff;
    color:#00aeef ;
}

.divGuide
{
    background-color: #00aeef;
    color: #ffffff;
    font-size: larger;
    font-weight: lighter;
    padding: 10px;
}

.divGuide .point
{
    font-weight: 800;
}

